
   
* {
  margin: 0;
}
body {
  background-image: linear-gradient(210deg,#d6dadd 0%, #9dbecafe 80%);
  color: white;
  min-height: 100vh;
}
.vazio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #000000;
  margin-left: 20px;
 
  margin-bottom: 15px;
  border: 3px solid black;
  border-radius: 10px;

}
.navbar{
  margin-bottom: 7rem;
}




.card:hover {
  color: black;
  background-color: #ffffff1c;
 
}
.média {
  border: 3px solid #fffb00;
}
 
.baixa {
  border: 3px solid #3bb54a;
}
 
.alta {
  border: 3px solid #ff0015;
}
 
.card {
  border-radius: 15px;
  background-color: #012a4a50;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 10px;
  margin: 20px;
  width: 200px;
  transition: all 0.5s ease-out;
  overflow:hidden
 
}

.grelha{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}



/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
